body{
    margin:0;
    padding:0;
}
main{
    padding: 16px;
    border: solid, black, 30px;
    background-color: moccasin;
    font-style: oblique;
    align-content: center;
}
footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 40%;
    padding-right: 35%;
    border: solid, black, 30px;
    background-color: darksalmon;
    align-content: center;
    font-style: italic;

}
img{
    height: 200px;
    width: 200px;
}
nav{
    border-bottom: black 1px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    align-content: center;

}

.recipe-grid {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: auto;
    column-gap: 5px;

}
